@font-face{
    font-family: "nasin-nanpa";
    src: url("nasin-nanpa-5.0.0-beta.2a.otf") format("opentype")
}

body{margin:0;
    --laso: #000099;
    --jelo: #fcffb1;
    --lupa: #00c4fd;
    font-family: 'Nunito Sans', sans-serif
}

main{margin-bottom: 4rem}

h1{display: grid; grid-template-columns:minmax(0, 50ch) 1rem minmax(0, 10ch) 2rem;
    grid-auto-flow: dense; gap: 1rem 0; margin-block: 1rem; border-bottom: solid yellow .5rem;
    font-weight:800; font-variation-settings:"wdth" 75; color: var(--laso)}

section{display: grid; grid-template-columns:minmax(0, 50ch) 1rem minmax(0, 50ch) 2rem;}

.split > [lang="en"]{grid-column: 2;}

a{color: var(--lupa)}

.split > .sp{font-family: "nasin-nanpa", sans-serif;
    width: 10rem; min-width: 10rem
}


@media (width < 750px) {
    h1, div.row{padding: 0 min(3vw, 4rem)
    }
}

@media (width < 580px) {
    h1, div.row{flex-direction: column;}
    p:not(.sp){width: unset; max-width: 25rem}
    h1 p:lang(en){margin-bottom:0}
    h1 p.sp, div.row p.sp{margin-top:0}
    div.row p:lang(en){margin-bottom:.5rem}
}
