@font-face{
    font-family: "nasin-nanpa";
    src: url("nasin-nanpa-5.0.0-beta.2a.otf") format("opentype")
}

body{margin:0;
    --loje-7: #e42001;
    --loje-6: #fe472e;
    --lupa: #0063fd;
    background-color: white; color: black;
    font-family: 'Nunito Sans', sans-serif
}

main{margin-bottom: 4rem}

h1{margin-block: 1rem; border-bottom: solid var(--loje-6) 2px;
    font-weight:800; font-variation-settings:"wdth" 150;
    box-shadow: var(--loje-6) 0 4px 4px -4px
}

.split{display: grid; grid-template-columns:2rem minmax(0, 25rem) minmax(1rem, 7vw) minmax(0, 10rem) 2rem;
    grid-auto-flow: dense; gap: 1rem 0; padding: 0 1rem; width: fit-content; margin-right: auto; margin-left: auto;
}
section.split{margin-bottom: 2rem}

section.split > p{margin: 0}
h1.split > p {margin: 1rem 0}

.split > [lang="en"]{grid-column: 2; max-width: 25rem}

.sp{grid-column: 4;
    font-family: "nasin-nanpa", sans-serif;
    width: 10rem; min-width: 10rem
}

.numbering{display:none}

a{color: var(--lupa)}

@media (width < 750px) {
    .split{padding: 0 3vw}}

@media (width < 580px) {
    .split {grid-template-columns: 2rem 1fr; padding-inline: 1rem; gap: 1rem 0;
    }
    .numbering{display:inline; font-size: 12px; font-weight: 700; grid-column: 1}
    .split > :not(.numbering){grid-column: 2}
    .split > [lang="en"]{width: unset; max-width: 25rem}
    h1.split{gap: 0}
    h1.split > [lang="en"]{margin-bottom:0}
    h1.split > .sp{margin-top:0}
    section.split > p{margin-bottom:0}
}
