@font-face{
    font-family: "nasin-nanpa";
    src: url("nasin-nanpa-5.0.0-beta.2a.otf") format("opentype")
}

body{margin:0;
    --laso: #000099;
    --jelo: #fcffb1;
    --lupa: #00c4fd;
    font-family: 'Nunito Sans', sans-serif
}

header{margin: 1rem}

h1{display: flex; padding: 0 4rem; border-bottom: solid yellow .5rem;
    font-weight:800; font-variation-settings:"wdth" 75; color: var(--laso)}

div.row{display: flex; padding: 0 4rem;}

h1 p, div.row p{margin: 1rem}

a{color: var(--lupa)}

p:not(.sp){width: 25rem}
p.sp{font-family: "nasin-nanpa", sans-serif;
    width: 10rem; min-width: 10rem
}

@media (width < 580px) {
    h1, div.row{flex-direction: column;
        padding: 0 min(3vw, 4rem)
    }
}
