@font-face{
    font-family: "nasin-nanpa";
    src: url("nasin-nanpa-5.0.0-beta.2a.otf") format("opentype")
}

body{margin:0;
    --laso: #000099;
    --jelo: #fcffb1;
    --lupa: #00c4fd;
    font-family: 'Nunito Sans', sans-serif
}
h1{font-weight:800; font-variation-settings:"wdth" 75; color: var(--laso)}

a{color: var(--lupa)}

*:lang(tok){font-family: "nasin-nanpa", sans-serif}
