@font-face{
    font-family: "nasin-nanpa";
    src: url("nasin-nanpa-5.0.0-beta.2a.otf") format("opentype")
}

body{margin:0;
    --laso: #000099;
    --jelo: #fcffb1;
    --lupa: #0063fd;
    font-family: 'Nunito Sans', sans-serif
}

main{margin-bottom: 4rem}

h1{margin-block: 1rem; border-bottom: solid yellow .5rem;
    font-weight:800; font-variation-settings:"wdth" 75; color: var(--laso)}

.split{display: grid; grid-template-columns:2rem minmax(0, 25rem) 1rem minmax(0, 10rem) 2rem;
    grid-auto-flow: dense; gap: 1rem 0; padding: 0 4rem
}

details.split > p{margin: 0}
h1.split > p {margin: 1rem 0}

.split > [lang="en"]{grid-column: 2; max-width: 25rem}

.split > .sp{grid-column: 4;
    font-family: "nasin-nanpa", sans-serif;
    width: 10rem; min-width: 10rem
}

a{color: var(--lupa)}
a:hover{color: var(--laso)}

@media (width < 750px) {
    .split{padding: 0 3vw}}

@media (width < 580px) {
    .split {grid-template-columns: 2rem 1fr; padding-inline: 1rem; gap: 0;
    }
    .split > :not(.numbering){grid-column: 2}
    .split > [lang="en"]{width: unset; max-width: 25rem}
    h1.split > [lang="en"]{margin-bottom:0}
    h1.split > .sp{margin-top:0}
    section.split > p{margin-bottom:0}
    section.split > .sp:first-of-type
}
