@font-face{
    font-family: "nasin-nanpa";
    src: url("nasin-nanpa-5.0.0-beta.2a.otf") format("opentype")
}

body{margin:0;
    --jelo-7: #cb5300;
    --jelo-5: #ff7400;
    --lupa: #0063fd;
    background-color: white; color: black;
    font-family: 'Nunito Sans', sans-serif
}

::selection{background-color: var(--jelo-5); color: white}

main{margin-bottom: 4rem}

h1{margin: 4rem 0 1rem; border-bottom: dotted var(--jelo-5) 3px;
    font-variation-settings:"wdth" 75;
}

.split{display: grid; grid-template-columns:auto minmax(0, 30rem) minmax(1rem, 7vw) minmax(0, 12rem) auto;
    grid-auto-flow: dense; gap: 1rem 0; padding: 0 1rem;
}
section.split > p{margin: 0}
h1.split > p {margin: 1rem 0}

.split > [lang="en"]{grid-column: 2; max-width: 30rem}

.sp{grid-column: 4;
    font-family: "nasin-nanpa", sans-serif;
    width: 12rem; min-width: 12rem
}

.numbering{display:none}

a{color: var(--lupa)}

main img{width: 100%; max-width: calc(42rem + 7vw); margin: 0 auto 2rem; display: block}

@media (width < 800px) {
    .split{padding: 0 6vw}}

@media (width < 580px) {
    .split {grid-template-columns: 2rem 1fr; padding-inline: 1rem; gap: 1rem 0;
    }
    .numbering{display:inline; font-size: 12px; font-weight: 700; grid-column: 1}
    .split > :not(.numbering){grid-column: 2}
    .split > [lang="en"]{width: unset; max-width: 25rem}
    h1.split{gap: 0}
    h1.split > [lang="en"]{margin-bottom:0}
    h1.split > .sp{margin-top:0}
    section.split > p{margin-bottom:0}
}
